language: ruby
sudo: false
cache: bundler
before_script:
  - bundle update

rvm:
  - ruby-head
  - 2.4.0
  - 2.3.3
  - 2.2.6

os:
  - linux
  # - osx

matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head

env:
  global:
    - TEST=true

gemfile:
  - Gemfile
  - Gemfile-v3

script: bundle exec rake test
